.cartItems {
  background-color: #ff1493;
  height: 100vh;
  color: white;
  margin-left: 63.3vw;
  z-index: 2;
  position: fixed;
  h4 {
    margin-top: 0vh;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 15px;
    font-size: 1.2em;
    span{
      margin-left: 30vw;
    }
  }
  .item {
    margin: 15px;
    background-color: white;
    color: black;
    img {
      margin-top: 5vh;
      margin-left: 1vw;
      margin-bottom: 0;
      margin-right: 0;
    }
    .desc {
      display: inline-block;
      p {
        margin-left: -5vw;
        margin-bottom: 0vh;
        font-weight: 800;
        font-size: 0.7em;
        text-align: left;
      }
      .btn {
        display: inline-block;
      }
      button {
        border: none;
        cursor: pointer;
        padding: 5px;
        width: 30px;
      }
      button:hover {
        background-color: rgba(178, 171, 171, 0.558);
      }
      input {
        width: 15px;
        padding: 5px;
        border: none;
        background-color: rgba(225, 218, 218, 0.429);
      }
      
    }
    .bttn{
      margin-left: -5vw;
      margin-right: 1vw;
    }
  }
  .price {
    .subtotal {
      display: inline-block;
      p {
        display: block;
        margin-left: 30px;
        font-weight: 600;
      }
      #rate {
        margin-left: 23vw;
      }
    }
  }
  .buttons {
    .button {
      display: inline;
    }
    button {
      margin-left: 30px;
      border: none;
      color: #ff1493;
      background-color: white;
      padding: 15px;
      width: 15vw;
      font-weight: 600;
      cursor: pointer;
    }
    button:hover {
      border: 1px solid white;
      color: white;
      background-color: #ff1493;
    }
  }
}
