.cart {
  z-index: 100;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  .cart-content {
    height: 100vh;
    width: 420px;
    position: relative;
    background-color: #ff1493;
    animation: cartSlider 0.3s ease forwards;
    transform: translateX(100%);

    .topp {
      background-color: rgba(0, 0, 0, 0.22);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 20px;
      color: white;
      h4 {
        margin-top: 0vh;
        padding-top: 15px;
        font-size: 1.2em;
      }
      .cross {
        cursor: pointer;
      }
    }

    // .item {
    //   margin: 5px;
    //   background-color: white;
    //   color: black;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // img {
    //   margin-top: 5vh;
    //   margin-left: 1vw;
    //   margin-bottom: 0;
    //   margin-right: 0;
    // }
    // .desc {
    //   display: inline-block;
    //   p {
    //     margin-left: -5vw;
    //     margin-bottom: 0vh;
    //     font-weight: 800;
    //     font-size: 0.7em;
    //     text-align: left;
    //   }
    //   .btn {
    //     display: inline-block;
    //   }
    //   button {
    //     border: none;
    //     cursor: pointer;
    //     padding: 5px;
    //     width: 30px;
    //   }
    //   button:hover {
    //     background-color: rgba(178, 171, 171, 0.558);
    //   }
    //   input {
    //     width: 15px;
    //     padding: 5px;
    //     border: none;
    //     background-color: rgba(225, 218, 218, 0.429);
    //   }
    // }
    // .bttn {
    //   margin-left: -5vw;
    //   margin-right: 1vw;
    // }
    // }
    // .price {
    //   .subtotal {
    //     display: inline-block;
    //     p {
    //       display: block;
    //       margin-left: 30px;
    //       font-weight: 600;
    //     }
    //     #rate {
    //       margin-left: 23vw;
    //     }
    //   }
    // }
    // .buttons {
    //   .button {
    //     display: inline;
    //   }
    //   button {
    //     margin-left: 30px;
    //     border: none;
    //     color: #ff1493;
    //     background-color: white;
    //     padding: 15px;
    //     width: 15vw;
    //     font-weight: 600;
    //     cursor: pointer;
    //   }
    //   button:hover {
    //     border: 1px solid white;
    //     color: white;
    //     background-color: #ff1493;
    //   }
    // }
  }
}

@keyframes cartSlider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
