.coFounder {
  background-color: #ece666;
  color: rgba(0, 0, 0, 0.671);
  padding: 5px;
  h1{
    color: #ff1493;
  }
  h3{
    color: rgba(0, 0, 0, 0.549);
  }
  span{
    color: rgb(0, 0, 0);


  }
}
