.aboutDesc {
    margin-top: -15px;
    padding-left: 5px;
    padding-right: 5px;
  text-align: center;
  h3 {
    color: rgba(0, 0, 0, 0.671);
    font-size: 2rem;
    margin-bottom: -15px;
  }
  h1 {
    color: #ff1493;
    font-size: 2.5rem;
  }
  h2 {
    color: white;
    background-color: #ff1493;
    font-size: 1.7rem;
    margin-left: 26vw;
    margin-right: 26vw;
    border-radius: 10px;
    padding: 3.5px;
  }
  p {
    padding-left: 11vw;
    padding-right: 11vw;
    font-size: 1.1rem;
    span {
      color: rgba(0, 0, 0, 0.671);
    }
  }
  .img {
    padding-top: 25px;
    padding-bottom: 25px;
  
    .images {
      display: inline;
      height: 300px;
      width: 250px;
      padding: 10px;
    }
  }
}
