.story {
  background-color: #fdf105;
  padding: 5vh 10vw;
  display: flex;
  align-items: center;
  .Story {
    p {
      width: 40vw;
      color: rgba(0, 0, 0, 0.671);
      font-size: 1.1rem;
    }
    img {
      width: 25vw;
      height: 30vh;
      padding-left: 10vw;
    }
   
  }
}



