.story {
  background-color: #fdf105;
  padding-left: 10vw;
  .Story {
    display: inline-block;
    p {
      width: 40vw;
      color: rgba(0, 0, 0, 0.671);
      font-size: 1.1rem;
    }
    img {
      width: 25vw;
      height: 30vh;
      padding-left: 10vw;
    }
    .horizontal {
      background-color: #ff1493;
      width: 40vw;
      text-align: center;
      border-radius: 5px;
      p {
        color: white;
        padding: 5px;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .story {
    padding-top: 5vh;
    .Story {
      display: block;
      img {
        width: 35vw;
        height: 40vh;
        margin-left: 10vw;
      }
      h1 {
        font-size: 3.2em;
        font-weight: 800;
      }
      p {
        width: 80vw;
        margin-top: -5vh;
      }
      .horizontal {
        margin-top: 10vh;
        text-align: center;
        width: 80vw;
        p {
          font-weight: 700;
        }
      }
    }
  }
}
