.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row flex;
  margin: 10vh 10vw 0vh;

  #para {
    color: rgba(84, 82, 82, 0.875);
  }
  .img {
    img {
      width: 450px;
      height: 450px;
    }
  }
  .description {
    h2 {
      color: #ff1493;
    }
    .input {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      font-weight: 500;
      #weight {
        color: rgba(84, 82, 82, 0.875);
        width: 15vw;
        padding: 5px;
        border: none;
        background-color: rgba(169, 167, 167, 0.248);
      }
    }
    .cart {
      margin: 5vh 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-items: center;
      justify-content: start;
      #number {
        height: 5vh;
        width: 2.5vw;
        border: none;
        padding: 5px;
        background-color: rgba(169, 167, 167, 0.248);
      }
      .bttn {
        margin-left: 2vw;
        color: #ff1493;
        border: 2px solid #ff1493;
        text-align: center;
        width: 10vw;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.table {
  padding: 25px;
  .btns {
    margin: -25px 0 0 -25px;
    button {
      border: 1px solid rgba(84, 82, 82, 0.344);
      padding: 5px 25px;
      font-size: 0.9em;
      font-weight: 600;
      text-align: center;
      color: rgba(84, 82, 82, 0.875);
      cursor: pointer;
    }
    button:focus {
      background-color: white;
      color: rgba(34, 33, 33, 0.996);
    }
  }
  p {
    color: rgba(84, 82, 82, 0.875);
    font-weight: 500;
    line-height: 4vh;
  }
  #table {
    display: flex;
    flex-flow: column wrap;
    align-items: left;
    justify-content: center;
    h1 {
      color: rgba(84, 82, 82, 0.875);
    }
    table {
      border-bottom: none;
      width: 70vw;
    }
  }
  .star {
    color: skyblue;
    font-size: 1.1em;
  }
  .form {
    .input {
      display: flex;
      flex-flow: column wrap;
      #review {
        height: 10vh;
        padding: 5px;
        margin: 5vh 0;
      }
      #input {
        margin: 1vh 0;
        padding: 5px;
        background-color: white;
        border: 1px solid rgb(120, 120, 120);
        width: 15vw;
      }
    }
    .bottom {
      display: block;
      margin: 5vh 0;
    }
    .checkbox {
      margin-left: -2.2vw;
    }
    #checkbox {
      margin-right: -1vw;
    }
    .btn {
      border: 1px solid skyblue;
      color: skyblue;
      padding: 15px 0 35px;
      font-size: 1.1em;
      font-weight: 500;
      background-color: white;
      text-align: center;
      height: 5vh;
      width: 10vw;
    }
  }
}

.Container {
  margin: 8%;
  .imgContainer {
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin: 25px 20px;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.3);

    .content {
      margin-top: 310px;
      #name {
        color: rgba(0, 0, 0, 0.721);
        font-size: 20px;
      }
      h4 {
        color: #ff1493;
        font-size: 20px;
        margin: 1vh;
      }
      p {
        color: white;
        padding: 5px;
        background-color: #ff1493;
        border-radius: 15px;
      }
    }
  }
}
