.faqs{
    margin-top: 9.1vh;
    h1{
        color: #ff1493;
        background-color: yellow;
        font-size: 3em;
        padding: 5% 0;
        text-align: center;

    }
    .questions{
        text-align:left;
        border: 1px solid black;
        border-radius: 25px;
        margin: 5vh 10vw;
        background-color: #ff1493;
        color: yellow;
        padding: 15px;
        span{
            margin-left: 55vw;
            cursor: pointer;
        }
        p{
            font-weight: 600;
        }
        #answer{
            color: white;
            font-weight: 400;
            font-size: 1.1em;
        }
    }
}