.indiaChai{
    margin: 15vh 10vw;
    color: rgb(135, 131, 131);
    font-weight: 600;
    line-height: 5vh;
    img{
        width: 60vw;
        height: 60vh;
    }
    .gap{
        margin-bottom: 2.5vh;
    }
    span{
        color: rgb(2, 1, 1);
    }

}