.footer {
  background-color: #ff1493;
  padding-bottom: 10vh;
  .content {
    padding-left: 10vw;
    .block {
      display: inline-table;
      margin-right: 10vw;
      color: rgb(139, 133, 133);
      h1 {
        color: #ece666;
      }
      li {
        list-style: none;
        color: white;
        cursor: pointer;
      }
      li:hover{
        color: yellow;
      }
      span {
        color: yellow;
        font-size: 2em;
        padding-right: 15px;
        margin-left: -45px;
      }
      #ull {
        margin-left: -40px;
        padding-bottom: 5px;
      }
      #ul {
        margin-left: -45px;
      }
      #li {
        display: inline;
        padding: 0 10px 0 0;
        font-size: 2.3em;
      }
    }
  }
}
