.introduction {
  background-color: #ff1493;
  height: 110vh;
  display: flex;
  justify-content: center;
  .intro {
    img {
      width: 37vw;
      height: 100vh;
    }
    h4 {
      color: white;
    }
    h1 {
      color: #ece666;
      font-size: 2.5rem;
      margin: -20px 0px 5px;
    }
    .horizontal {
      width: 15vw;
      height: 0.5vh;
      background-color: white;
    }
    p {
      color: white;
      width: 40vw;
      margin-top: 10vh;
    }
  }
  .Intro{
    margin-left: 5vw;
  }
}
