.nav {
  margin: 0 8vw;
  .navbar {
    background-color: #ff1493;
    border-radius: 45px;
    position: fixed;
    z-index: 99;

    ul {
      li {
        list-style: none;
        display: inline;
        padding: 0px 20px;
      }
      .link {
        color: white;
        text-decoration: none;
        font-size: 0.89em;
        font-weight: 600;
      }
      .link:focus {
        color: #ffff00;
      }
    }
  }
}
