.navbar {
  padding: 1px;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: #ff1493;
  border-radius: 45px;
  ul {
    margin-left: 2vw;
    li {
      list-style: none;
      display: inline;
      margin: 15px;
    }
    .link {
      color: white;
      text-decoration: none;
    }
    .link:hover {
      color: #ffff00;
    }
  }
}
