.fullPage {
  padding-top: 10.5vh;
  .page {
    background-color: rgb(101, 101, 101);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    align-content: space-between;

    h1 {
      color: yellow;
    }
    .horizontal {
      background-color: yellow;
      height: 0.7vh;
      width: 16vw;
    }

    img {
      max-width: 20vw;
      height: 130vh;
    }

    // START OF FORM
    .form {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      align-content: space-between;

      .padding {
        padding: 10px 30px 10px 0px;
        display: flex;
        align-items: flex-start;
        flex-flow: column wrap;
      }

      .input {
        height: 3vh;
        border: none;
        border-radius: 0px 10px 10px;
        padding: 15px;
        width: 100%;
      }
      .code {
        width: 93%;
      }
      #email {
        width: 125%;
      }
      #contact {
        margin-left: 8vw;
      }

      #age {
        width: 134%;
      }
      label {
        padding-bottom: 5px;
      }
      .select {
        height: 8vh;
        width: 100%;
      }

      .box {
        height: 15vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: row wrap;
        align-content: space-between;
      }
    }
    #question {
      width: 100%;
      height: 35vh;
      padding: 10px;
      border: none;
      border-radius: 0px 10px 10px;
    }
    .submit {
      width: 100%;
      padding: 15px;
      background-color: #ff1493;
      color: yellow;
      border: solid 1px yellow;
      border-radius: 10px;
      font-size: 1.2em;
      text-align: center;
    }
    .submit:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 980px) {
  .fullPage {
    padding-top: 28vh;
    .form {
      #contact {
        margin-left: 10vw;
      }
    }
  }
}
