.checkout {
  margin: 15vh 10vw 10vh;
  font-weight: 600;

  h1 {
    text-align: center;
    color: #ff1493;
    font-size: 2.5em;
  }
  .horizontal {
    background-color: #ff1493;
    height: 0.5vh;
  }
  h3 {
    font-size: 1.9em;
    color: white;
    background-color: #ff1493;
    width: 16vw;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
  }
  .form {
    display: flex;
    .name {
      display: flex;
      flex-flow: row wrap;
    }
    .inputName {
      width: 15.5vw;
    }
    .detail {
      display: flex;
      flex-flow: column wrap;
      span {
        color: red;
        font-weight: 900;
      }
    }

    label {
      margin-top: 10px;
    }
    input {
      width: 35vw;
      padding: 15px;
      background-color: rgba(128, 128, 128, 0.125);
      border: none;
      margin: 2.5px 20px 10px 0;
    }

    #notes {
      width: 35vw;
      height: 15vh;
      padding: 20px;
      background-color: rgba(128, 128, 128, 0.125);
      border: none;
    }
    #state {
      width: 37.3vw;
      background-color: rgba(128, 128, 128, 0.125);
      border: none;
      padding: 15px;
    }

    .checkbox {
      input {
        width: 1vw;
        padding: 0;
        margin: 0;
      }
    }
    .submit {
      margin-top: 5vh;
      width: 38.2vw;
      color: #ff1493;
      border: 2px solid #ff1493;
      background-color: white;
      font-weight: 600;
      font-size: 1.2em;
      cursor: pointer;
    }
    .submit:hover {
      background-color: #ff1493;
      color: white;
    }
  }
  .secondPart {
    margin-left: 3vw;
  }
}

.length {
  margin: 19vh 10vw;
  color: #ff1493;
  p {
    color: white;
    background-color: #ff1493;
    padding: 15px;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 10vh;
  }
}
